@page "/logout"
@inherits LogoutPageCode

<div class="d-flex justify-center">
    <MudText Color="Color.Primary" Typo="Typo.h4">Estamos te redirecionando...</MudText>
    <br/>
    <MudText Color="Color.Primary" Typo="Typo.h4">Volte sempre!</MudText>
</div>
